@import './../../styles/media-queries.scss';

.header {
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

	@include sm {
	}

	@include md {
	}

	@include lg {
	}

	@include xl {
	}
}

.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: var(--color-canvas);
}
