.header {
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
	background-color: var(--color-canvas);
}

.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	position: relative;
}
